{% extends 'base.html' %}
{% block body %}
<!--
==================================================
Global Page Section Start
================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{post.title}} by TARS</h2>
                    <div class="portfolio-meta">
                        <span>{{post.date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#Page header-->
<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-img">
                    <img class="img-fluid" alt="" src="/media/{{post.img}}">
                </div>
                <div class="post-content">
                    <p>
                        {{post.desc | linebreaks}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>   

 {% endblock body %}
 