{% extends 'base.html' %}
{% block body %}
        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>TARS Events</h2>
                            <ol class="breadcrumb list-inline text-center">
                                <li class="list-inline-item">
                                    <a href="/">
                                        <i class="ion-ios-home"></i>
                                        Home  &nbsp; &nbsp;/
                                    </a>
                                </li>
                                <li class="active list-inline-item">Blog</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--=======================================
=            Blog Left sidebar            =
========================================-->
<section id="blog-full-width">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="sidebar">
                        <div class="categories widget">
                            <h3 class="widget-head">Categories</h3>
                            <ul>
                                <li>
                                    Technology <span class="badge">1</span>
                                </li>
                                <li>
                                    Robotics <span class="badge">2</span>
                                </li>
                                <li>
                                    Automation <span class="badge">4</span>
                                </li>
                                <li>
                                    Arduino <span class="badge">2</span>
                                </li>
                                <li>
                                    Decentralisation <span class="badge">2</span>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="recent-post widget">
                            <h3>Featured Events</h3>
                            <ul>
                                {% for f  in fevents %}
                                <li>
                                    <a href="/events/{{f.slug}}">{{f.title}}</a><br>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    {% for r in events%}
                    <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <a href="/events/{{r.slug}}"><img class="img-fluid" src="/media/{{r.img}}" alt="" /></a>
                        </div>
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                            <a href="/research/{{r.slug}}">{{r.title}}</a>
                            </h2>
                            <div class="blog-meta">
                                <span>{{r.date}}</span>
                            </div>
                            <p>{{r.desc | truncatechars:305 | safe}}
                            </p>
                            <a href="/research/{{r.slug}}" class="btn btn-dafault btn-details hvr-bounce-to-right">Continue Reading</a>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
</section>
<!--====  End of Blog Left sidebar  ====--> 
            {% endblock body %}