{% extends 'base.html' %}
{% block body %}

        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Meet the Team</h2>
                            <ol class="breadcrumb list-inline text-center">
                                <li class="list-inline-item">
                                    <a href="/">
                                        <i class="ion-ios-home"></i>
                                        Home  &nbsp; &nbsp;/
                                    </a>
                                </li>
                                <li class="active list-inline-item">Team</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- 
================================================== 
    Team Section Start
================================================== -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="subtitle text-center">Core Team</h2>
            </div>
            {% for t in team %}
            <div class="col-md-3 col-sm-6">
                <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                    <div class="team-img">
                        <img src="/media/{{t.img}}" class="team-pic" alt="">
                    </div>
                    <h3 class="team_name">{{t.name}}</h3>
                    <p class="team_designation">{{t.designation}}</p>
                    <p class="team_text">{{t.desc}}</p>
                    <p class="social-icons">
                        <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                        <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                        <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                        <a href="#" target="_blank"><i class="ion-ios-email"></i></a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="subtitle text-center">Team Members</h2>
            </div>
            {% for t in not_core %}
            <div class="col-md-3 col-sm-6">
                <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                    <div class="team-img">
                        <img src="/media/{{t.img}}" class="team-pic" alt="">
                    </div>
                    <h3 class="team_name">{{t.name}}</h3>
                    <p class="team_designation">{{t.designation}}</p>
                    <p class="team_text">{{t.desc}}</p>
                    <p class="social-icons">
                        <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                        <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                        <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                        <a href="#" target="_blank"><i class="ion-ios-email"></i></a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
 {% endblock body %}